.proj-prev-img {
    border-radius: 7px;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.mobile-carousel-item-container {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #222222;
}

.mobile-carousel-item {
    width: 30%;
}